asgiref==3.11.1
azure-core==1.41.0
azure-storage-blob==12.30.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
Django==6.0.6
django-storages==1.14.6
idna==3.18
isodate==0.7.2
pillow==12.3.0
pycparser==3.0
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.2
urllib3==2.7.0
