{% extends "layout.html" %} {% block content %}
<h1>Product Catalog</h1>

{% if products  %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  {% for product in products %}
  <div class="col">
    <div class="card h-100">
      {% if product.image %}
      <img width="50" src="{{ product.image.url }}" alt="{{ product.name }}"  class="card-img-top" />
      {% else %}
      <img width="50" src="https://img.magnific.com/free-vector/illustration-gallery-icon_53876-27002.jpg?semt=ais_hybrid&w=740&q=80" alt="{{ product.name }}" class="card-img-top" />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
        </h5>
        <p class="card-text">{{ product.price }}$ - {{ product.get_category_display }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="text-center py-5">
  <img src="https://cdni.iconscout.com/illustration/premium/thumb/no-product-illustration-svg-download-png-6632286.png" alt="No products" class="img-fluid" />
</div>
{% endif %}

{% endblock %}
