{% extends "layout.html" %} {% block content %}
<h1>Product List Page!</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for product in products %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}" />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price }}$ - {{ product.category }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
