{% extends "layout.html" %} {% block content %}
<h1>Product Catalog</h1>

{% if products  %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for product in products %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}" />
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
        </h5>
        <p class="card-text">{{ product.price }}$ - {{ product.category }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="text-center py-5">
  <img src="https://cdni.iconscout.com/illustration/premium/thumb/no-product-illustration-svg-download-png-6632286.png" alt="No products" class="img-fluid" />
</div>
{% endif %}

{% endblock %}
